In [94]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [119]:
df=pd.read_csv("Imdb_movies.csv")
df.head(5)

,Unnamed: 0,Title,Release_year,Certificate,Rating,Runtime(min),Genre,Metascore,Director,Stars,Votes,Gross($)
0,0,Avatar,2009,UA,7.9,162 min,Action,83.0,James Cameron,"Sam Worthington,","13,58,528","2,92,37,06,026"
1,1,Avengers: Endgame,2019,UA,8.4,181 min,Action,78.0,"Anthony Russo,","Robert Downey Jr.,","12,08,382","2,79,94,39,100"
2,2,Avatar: The Way of Water,2022,UA,7.6,192 min,Action,67.0,James Cameron,"Sam Worthington,","4,52,123","2,32,02,50,281"
3,3,Titanic,1997,UA,7.9,194 min,Drama,75.0,James Cameron,"Leonardo DiCaprio,","12,43,407","2,26,47,43,305"
4,4,Star Wars: Episode VII - The Force Awakens,2015,U,7.8,138 min,Action,80.0,J.J. Abrams,"Daisy Ridley,","9,54,781","2,07,13,10,218"

In [120]:
df.drop(["Unnamed: 0"],axis=1,inplace=True)

In [121]:
df.head(5)

,Title,Release_year,Certificate,Rating,Runtime(min),Genre,Metascore,Director,Stars,Votes,Gross($)
0,Avatar,2009,UA,7.9,162 min,Action,83.0,James Cameron,"Sam Worthington,","13,58,528","2,92,37,06,026"
1,Avengers: Endgame,2019,UA,8.4,181 min,Action,78.0,"Anthony Russo,","Robert Downey Jr.,","12,08,382","2,79,94,39,100"
2,Avatar: The Way of Water,2022,UA,7.6,192 min,Action,67.0,James Cameron,"Sam Worthington,","4,52,123","2,32,02,50,281"
3,Titanic,1997,UA,7.9,194 min,Drama,75.0,James Cameron,"Leonardo DiCaprio,","12,43,407","2,26,47,43,305"
4,Star Wars: Episode VII - The Force Awakens,2015,U,7.8,138 min,Action,80.0,J.J. Abrams,"Daisy Ridley,","9,54,781","2,07,13,10,218"

In [122]:
df.isnull().sum()

Title            0
Release_year     0
Certificate     50
Rating           0
Runtime(min)     0
Genre            0
Metascore       38
Director         0
Stars            0
Votes            0
Gross($)         0
dtype: int64

In [123]:
df.dropna(how="any",axis=0,inplace=True)

In [124]:
df.head(2)

,Title,Release_year,Certificate,Rating,Runtime(min),Genre,Metascore,Director,Stars,Votes,Gross($)
0,Avatar,2009,UA,7.9,162 min,Action,83.0,James Cameron,"Sam Worthington,","13,58,528","2,92,37,06,026"
1,Avengers: Endgame,2019,UA,8.4,181 min,Action,78.0,"Anthony Russo,","Robert Downey Jr.,","12,08,382","2,79,94,39,100"

In [125]:
df.isnull().sum()

Title           0
Release_year    0
Certificate     0
Rating          0
Runtime(min)    0
Genre           0
Metascore       0
Director        0
Stars           0
Votes           0
Gross($)        0
dtype: int64

In [126]:
df.dtypes

Title            object
Release_year      int64
Certificate      object
Rating          float64
Runtime(min)     object
Genre            object
Metascore       float64
Director         object
Stars            object
Votes            object
Gross($)         object
dtype: object

In [127]:
# Convert Votes and Gross into integers

In [128]:
df.Votes

0      13,58,528
1      12,08,382
2       4,52,123
3      12,43,407
4       9,54,781
         ...
994     1,29,090
995     2,25,522
997     1,79,069
998     1,92,304
999     1,41,094
Name: Votes, Length: 943, dtype: object

In [129]:
No_Votes=[]
for i in df.Votes:
    a=i.replace(",","")
    No_Votes.append(int(a))

In [130]:
len(No_Votes)

943

In [131]:
Gross=[]
for i in df["Gross($)"]:
    a=i.replace(",","")
    Gross.append(int(a))

In [132]:
len(Gross)

943

In [133]:
df["No_Votes"]=No_Votes
df["Gross"]=Gross

In [134]:
df.drop(["Votes","Gross($)"],axis=1,inplace=True)

In [135]:
# Change the Gross column name into Gross($)
df.rename(columns={"Gross":"Gross($)"},inplace=True)

In [136]:
df.head(3)

,Title,Release_year,Certificate,Rating,Runtime(min),Genre,Metascore,Director,Stars,No_Votes,Gross($)
0,Avatar,2009,UA,7.9,162 min,Action,83.0,James Cameron,"Sam Worthington,",1358528,2923706026
1,Avengers: Endgame,2019,UA,8.4,181 min,Action,78.0,"Anthony Russo,","Robert Downey Jr.,",1208382,2799439100
2,Avatar: The Way of Water,2022,UA,7.6,192 min,Action,67.0,James Cameron,"Sam Worthington,",452123,2320250281

In [139]:
# Convert Runtime type into int
Run_time=[]
for i in df["Runtime(min)"]:
    a=i.replace("min","")
    Run_time.append(int(a))

In [143]:
df["Run_Time(min)"]=Run_time

In [145]:
df.drop(["Runtime(min)"],axis=1,inplace=True)

In [146]:
df.head(2)

,Title,Release_year,Certificate,Rating,Genre,Metascore,Director,Stars,No_Votes,Gross($),Run_Time(min)
0,Avatar,2009,UA,7.9,Action,83.0,James Cameron,"Sam Worthington,",1358528,2923706026,162
1,Avengers: Endgame,2019,UA,8.4,Action,78.0,"Anthony Russo,","Robert Downey Jr.,",1208382,2799439100,181

In [147]:
df.dtypes

Title             object
Release_year       int64
Certificate       object
Rating           float64
Genre             object
Metascore        float64
Director          object
Stars             object
No_Votes           int64
Gross($)           int64
Run_Time(min)      int64
dtype: object

In [149]:
# find duplicate values if exist.
df.loc[df.duplicated(keep="first"),:] #There is no duplicated values.

Empty DataFrame
Columns: [Title, Release_year, Certificate, Rating, Genre, Metascore, Director, Stars, No_Votes, Gross($), Run_Time(min)]
Index: []

In [152]:
df.Release_year.unique()

array([2009, 2019, 2022, 1997, 2015, 2018, 2021, 2012, 2011, 2023, 2017,
       2013, 2016, 2003, 1993, 2014, 2010, 2006, 1999, 2001, 2008, 1994,
       2007, 2002, 2004, 2005, 1996, 1982, 1977, 1998, 2000, 1980, 1991,
       1990, 1992, 1975, 1983, 1989, 2020, 1973, 1939, 1978, 1995, 1981,
       1985, 1986, 1988, 1984, 1987, 1942, 1972, 1961, 1979, 1967, 1937],
      dtype=int64)

In [153]:
df.Certificate.unique()

array(['UA', 'U', 'A', '12+', 'U/A', 'R', '(Banned)', '16', '15+', '7',
       'PG', '18', '13', 'PG-13', 'UA 16+', 'G', 'Not Rated'],
      dtype=object)

In [154]:
df.Rating.unique()

array([7.9, 8.4, 7.6, 7.8, 8.2, 6.9, 6.8, 8. , 7.1, 8.3, 7.3, 8.1, 6.1,
       7.4, 6.6, 6.4, 9. , 6.2, 5.6, 6.5, 7.7, 8.5, 8.8, 7.5, 6.3, 6.7,
       5.5, 5.9, 7. , 7.2, 5.8, 8.6, 8.7, 5.2, 4.9, 4.8, 5.1, 4.2, 5.4,
       4.5, 5.7, 6. , 5.3, 4.6, 4.3, 5. , 4. , 9.2, 3.8, 3.4, 8.9])

In [155]:
df.Genre.unique()

array(['Action', 'Drama', 'Animation', 'Adventure', 'Crime', 'Biography',
       'Mystery', 'Horror', 'Comedy', 'Documentary', 'Fantasy'],
      dtype=object)

In [156]:
df.Metascore.unique()

array([ 83.,  78.,  67.,  75.,  80.,  68.,  71.,  59.,  55.,  69.,  64.,
        66.,  88.,  85.,  46.,  84.,  51.,  65.,  56.,  62.,  94.,  81.,
        42.,  32.,  53.,  92.,  45.,  49.,  77.,  58.,  38.,  50.,  60.,
        87.,  90.,  63.,  61.,  73.,  44.,  74.,  76.,  35.,  52.,  82.,
        39.,  86.,  72.,  57.,  96.,  40.,  70.,  79.,  54.,  47.,  27.,
        48.,  30.,  41.,  95.,  43.,  31.,  91.,  34.,  97.,  33.,  24.,
        26.,  20.,  28.,  37.,  89., 100.,  19.,  36.,  23.,  21.,  12.,
        25.])

In [157]:
df.Director.unique()

array(['James Cameron', 'Anthony Russo, ', 'J.J. Abrams', 'Jon Watts',
       'Colin Trevorrow', 'Jon Favreau', 'Joss Whedon', 'James Wan',
       'Joseph Kosinski', 'Chris Buck, ', 'Ryan Coogler', 'David Yates',
       'Aaron Horvath, ', 'Rian Johnson', 'J.A. Bayona', 'Bill Condon',
       'Brad Bird', 'F. Gary Gray', 'Shane Black', 'Kyle Balda, ',
       'Peter Jackson', 'Sam Mendes', 'Anna Boden, ', 'Michael Bay',
       'Steven Spielberg', 'Christopher Nolan', 'Todd Phillips',
       'Josh Cooley', 'Lee Unkrich', 'Gore Verbinski', 'Gareth Edwards',
       'Guy Ritchie', 'Rob Marshall', 'Andrew Stanton, ', 'George Lucas',
       'Byron Howard, ', 'Tim Burton', 'Chris Columbus', 'Jake Kasdan',
       'Pierre Coffin, ', 'Roger Allers, ', 'Sam Raimi',
       'Andrew Adamson, ', 'Bryan Singer', 'Mike Newell', 'Chris Renaud',
       'Carlos Saldanha, ', 'Steve Martino, ', 'Zack Snyder',
       'Francis Lawrence', 'James Gunn', 'Pete Docter, ',
       'Ruben Fleischer', 'Taika Waititi', 'Patty Jenkins',
       'Roland Emmerich', 'Lee Unkrich, ', 'Chris Miller, ',
       'Alfonso Cuarón', 'Joachim Rønning, ', 'Christopher McQuarrie',
       'Justin Lin', 'David Leitch', 'Tim Miller', 'Cary Joji Fukunaga',
       'Matt Reeves', 'Ron Howard', 'Robert Stromberg', 'Marc Webb',
       'Mike Mitchell', 'Eric Darnell, ', 'David Ayer', 'Andrew Adamson',
       'Dan Scanlon', 'Lana Wachowski, ', 'Chris Weitz',
       'Andy Muschietti', 'David Slade', 'Phyllida Lloyd', 'Gary Ross',
       'Louis Leterrier', 'Ron Clements, ', 'Robert Zemeckis',
       'Scott Derrickson', 'M. Night Shyamalan', 'Carlos Saldanha',
       'Jennifer Yuh Nelson', 'Don Hall, ', 'Barry Sonnenfeld',
       'Alan Taylor', 'Garth Jennings, ', 'Mark Osborne, ',
       'Ridley Scott', 'Peter Berg', 'Brad Bird, ', 'Peyton Reed',
       'Dean DeBlois', 'James Mangold', 'Martin Campbell', 'Mel Gibson',
       'Ang Lee', 'Nathan Greno, ', 'Marc Forster', 'Kirk DeMicco, ',
       'Joaquim Dos Santos, ', 'Shawn Levy', 'Sam Taylor-Johnson',
       'Jordan Vogt-Roberts', 'Raja Gosnell', 'John Lasseter, ',
       'Chris Miller', 'Stephen Chow', 'Seth MacFarlane',
       'Clint Eastwood', 'John Woo', 'Sicheng Chen', 'Kenneth Branagh',
       'Mark Andrews, ', 'Irvin Kershner', 'David Silverman',
       'Alejandro G. Iñárritu', 'Jon Turteltaub', 'Phil Johnston, ',
       'Genndy Tartakovsky', 'Tom McGrath', 'Yarrow Cheney, ',
       'Jay Roach', 'Andrew Stanton', 'Alessandro Carloni, ',
       'Andy Serkis', 'Jerry Zucker', 'Wolfgang Petersen',
       'Dean DeBlois, ', 'Jan de Bont', 'Joachim Rønning', 'Doug Liman',
       'Jonathan Liebesman', 'Tom Shadyac', 'Tom Hooper', 'Rupert Wyatt',
       'Joel Crawford, ', 'Richard Marquand', 'Brad Peyton',
       'Damien Chazelle', 'Rich Moore', 'Adam Wingard', 'Luc Besson',
       'Phil Lord, ', 'Travis Knight', 'Garry Marshall', 'Brett Ratner',
       'Brian De Palma', 'Edward Zwick', 'Haruo Sotozaki',
       'Steven Soderbergh', 'Rob Letterman', 'Paul Greengrass',
       'Stephen Sommers', 'Betty Thomas', 'William Friedkin',
       'Duncan Jones', 'Bradley Cooper', 'Michael Gracey',
       'Jonathan Mostow', 'Destin Daniel Cretton', 'Lee Tamahori',
       'Chris Renaud, ', 'Chad Stahelski', 'Olivier Nakache, ',
       'Adil El Arbi, ', 'Quentin Tarantino', 'Gary Trousdale, ',
       'Kevin Costner', 'Michael Patrick King', 'Michael Apted',
       'Matthew Vaughn', 'Mick Jackson', 'Guillermo del Toro',
       'Alex Kurtzman', 'Michael Thurmeier, ', 'Catherine Hardwicke',
       'Martin Scorsese', 'Jeff Fowler', 'Robert Rodriguez', 'Rob Cohen',
       'Victor Fleming, ', 'Ol Parker', 'Chloé Zhao', 'Denis Villeneuve',
       'Rupert Sanders', 'Randal Kleiser', 'John Lasseter',
       'Jaume Collet-Serra', 'Kevin Reynolds', 'Len Wiseman',
       'Michael Dougherty', 'Tim Johnson', 'George Miller, ',
       'Bob Persichetti, ', 'Brian Fee', 'Chris Wedge, ',
       'Makoto Shinkai', 'James Foley', 'Rob Letterman, ',
       'George Miller', 'Cate Shortland', 'Danny Boyle, ',
       'Olivier Megaton', 'Jon M. Chu', 'Bibo Bergeron, ', 'Nancy Meyers',
       'Gavin Hood', 'Andy Tennant', 'McG', 'Joe Johnston',
       'Bobby Farrelly, ', 'David Fincher', 'Andrew Davis', 'Joel Zwick',
       'David F. Sandberg', 'John McTiernan', 'Corin Hardy', 'Tim Hill',
       'Roger Michell', 'Raman Hui', 'Darren Aronofsky', 'Harald Zwart',
       'Tony Scott', 'Hayao Miyazaki', 'Barry Levinson', 'Baz Luhrmann',
       'Alex Proyas', 'Paul Verhoeven', 'Clay Kaytis, ', 'Chuck Russell',
       'Will Gluck', 'Eric Leighton, ', 'Mimi Leder', 'Steven Caple Jr.',
       'Wes Ball', 'Mike Mitchell, ', 'D.J. Caruso', 'Mike Gabriel, ',
       'Timur Bekmambetov', 'Brian Levant', 'John Krasinski',
       'Kevin Lima', 'Tim Johnson, ', 'Noam Murro', 'Joel Schumacher',
       'Yimou Zhang', 'Sharon Maguire', 'Tim Story', 'Roger Spottiswoode',
       'Peter Sohn', 'Peter Faiman', 'David Frankel', 'Paul Tibbitt, ',
       'Peter Farrelly', 'Richard Donner', 'Adrian Lyne', 'Anne Fletcher',
       'Martin Brest', 'Stephen Chbosky', 'Simon West', 'Mark Dindal',
       'James L. Brooks', 'Paul W.S. Anderson', 'Chris McKay',
       'Paul Weitz', 'John Lee Hancock', 'Josh Boone', 'Gabriele Muccino',
       'Peter Ramsey', 'Paul Feig', 'Rawson Marshall Thurber',
       'John Moore', 'Tony Bancroft, ', 'Morten Tyldum',
       'Sylvester Stallone', 'Rob Minkoff', 'James Bobin', 'P.J. Hogan',
       'Jimmy Hayward, ', 'Robert Schwentke', 'Amy Heckerling',
       'Ivan Reitman', 'Simon J. Smith, ', 'Phillip Noyce',
       'Hoyt Yeatman', 'Steven S. DeKnight', 'John Madden', 'Neil Burger',
       'John Landis', 'David Dobkin', 'Brad Silberling', 'J.B. Rogers',
       'Elizabeth Banks', 'Frank Darabont', 'Neill Blomkamp',
       'David Soren', 'Paul King', 'Florian Henckel von Donnersmarck',
       'Keenen Ivory Wayans', 'Tony Gilroy', 'Michael B. Jordan',
       'Roar Uthaug', 'Cody Cameron, ', 'Cameron Crowe', 'Jonathan Demme',
       'Dennis Dugan', 'Nicholas Stoller', 'Sydney Pollack',
       'Chris Wedge', 'James Algar, ', 'Beeban Kidron', 'Peter Weir',
       'Bong Joon Ho', 'Larry Charles', 'Kenny Ortega',
       'David Gordon Green', 'Peter Cattaneo', 'Stanley Tong',
       'John R. Leonetti', 'Jared Bush, ', 'Jordan Peele', 'Renny Harlin',
       'Chris Noonan', 'Walt Becker', 'Simon Kinberg', 'Ethan Coen, ',
       'Stephen Gaghan', 'Mel Smith', 'David O. Russell', 'Nora Ephron',
       'Stefen Fangmeier', 'Aaron Blaise, ', 'Francis Ford Coppola',
       'Pierre Perifel', 'Daniel Myrick, ', 'Richard Curtis', 'Hark Tsui',
       'Peter Farrelly, ', 'Steve Martino', 'Dave Green', 'Eric Brevig',
       'Rob Reiner', 'Curtis Hanson', 'Sean Anders', 'José Padilha',
       'Justin Kurzel', 'Frank Coraci', 'Klay Hall', 'John Cornell',
       'Dominic Sena', 'John Badham', 'John Singleton', 'Theodore Melfi',
       'Paul Weitz, ', 'Jon Hurwitz, ', 'Craig Gillespie', 'Jesse Dylan',
       'Jason Reitman', 'Ben Affleck', 'Steve Bendelack',
       'Anthony Minghella', 'Emile Ardolino', 'Gary Dauberman',
       'Peter Segal', 'Joe Pytka', 'Roberto Benigni',
       'Mark Steven Johnson', 'Michel Gondry', 'Edgar Wright',
       'Tarsem Singh', 'Pierre Morel', 'Angus MacLane', 'Tommy Wirkola',
       'Gus Van Sant', 'Peter Lord, ', 'Neil Jordan', 'Michael Moore',
       'Dean Devlin', 'Alan J. Pakula', 'David Zucker', 'Michael Mann',
       'Judd Apatow', 'Tom Vaughan', 'Greta Gerwig', 'Brenda Chapman, ',
       'Tony Leondis', 'Parker Finn', 'Gary Shore', 'Tate Taylor',
       'Joel Crawford', 'Clyde Geronimi, ', 'Patrick Hughes',
       'Karey Kirkpatrick, ', 'Adam Shankman', 'Donald Petrie',
       'Jon Amiel', 'Steve Oedekerk', 'Peter Hyams', 'Lewis Gilbert',
       'Alejandro Amenábar', 'Seth Gordon', 'Thea Sharrock',
       'John Francis Daley, ', 'Daniel Espinosa', 'Clark Johnson',
       'Jared Stern, ', 'Henry Joost, ', 'Michael Chaves',
       'Wolfgang Reitherman', 'Babak Najafi', 'Stephen Chow, ',
       'Robert Luketic', 'Oliver Stone', 'Cathy Yan', 'Lasse Hallström',
       'Dean Parisot', 'Ryan Murphy', 'Greg Tiernan, ', 'Antoine Fuqua',
       'Baltasar Kormákur', 'Scott Waugh', 'Peter Hewitt', 'Steve Barron',
       'Lawrence Guterman', 'Thor Freudenthal', 'Marc Lawrence',
       'Kelly Asbury', 'Nick Cassavetes', 'Michael Sucsy', 'Ben Stiller',
       'Dexter Fletcher', 'Michael Engler', 'Steve Box, ',
       'Phil Alden Robinson', 'Oren Peli', 'Aaron Nee, ', 'John Pasquin',
       'Jill Culton, ', 'Rob Bowman', 'Peter MacDonald', 'Jeannot Szwarc',
       'Steve McQueen', 'Mark Waters', 'Takashi Shimizu',
       'Gorô Taniguchi', 'Robert Redford', 'Steve Trenbirth',
       'David R. Ellis', 'Spike Lee', 'Trish Sie', 'Mike Nichols',
       'William Cottrell, ', 'Jon Lucas, ', 'Nicholas Stoller, ',
       'Steve Carr', 'Penelope Spheeris', 'Randall Wallace',
       'Hugh Wilson', 'Jim Abrahams', 'Gerard Johnstone', 'John N. Smith',
       'Stephen Norrington', 'Ken Kwapis', 'John Hamburg'], dtype=object)

In [158]:
df.Stars.unique()

array(['Sam Worthington, ', 'Robert Downey Jr., ', 'Leonardo DiCaprio, ',
       'Daisy Ridley, ', 'Tom Holland, ', 'Chris Pratt, ',
       'Donald Glover, ', 'Vin Diesel, ', 'Tom Cruise, ',
       'Kristen Bell, ', 'Chadwick Boseman, ', 'Daniel Radcliffe, ',
       'Emma Watson, ', 'Craig T. Nelson, ', 'Sandra Bullock, ',
       'Chris Evans, ', 'Jason Momoa, ', 'Elijah Wood, ',
       'Daniel Craig, ', 'Brie Larson, ', 'Shia LaBeouf, ', 'Sam Neill, ',
       'Mark Wahlberg, ', 'Christian Bale, ', 'Joaquin Phoenix, ',
       'Tom Hanks, ', 'Johnny Depp, ', 'Felicity Jones, ', 'Will Smith, ',
       'Steve Carell, ', 'Ellen DeGeneres, ', 'Ewan McGregor, ',
       'Ginnifer Goodwin, ', 'Mia Wasikowska, ', 'Martin Freeman, ',
       'Dwayne Johnson, ', 'Matthew Broderick, ', 'Neel Sethi, ',
       'Ian McKellen, ', 'Benedict Cumberbatch, ', 'Albert Brooks, ',
       'Mike Myers, ', 'Rami Malek, ', 'Tobey Maguire, ', 'Louis C.K., ',
       'Ray Romano, ', 'Ben Affleck, ', 'Hayden Christensen, ',
       'Jennifer Lawrence, ', 'Letitia Wright, ', 'Amy Poehler, ',
       'Tom Hardy, ', 'Chris Hemsworth, ', 'Kristen Stewart, ',
       'Gal Gadot, ', 'Anthony Gonzalez, ', 'Eddie Redmayne, ',
       'Henry Thomas, ', 'John Cusack, ', 'Harrison Ford, ',
       'Ryan Reynolds, ', 'Mark Hamill, ', 'Matthew McConaughey, ',
       'Robert Pattinson, ', 'Angelina Jolie, ', 'Andrew Garfield, ',
       'Ben Stiller, ', 'Patrick Stewart, ', 'Tilda Swinton, ',
       'Billy Crystal, ', 'Keanu Reeves, ', 'Edward Asner, ',
       'Gary Oldman, ', 'Bill Skarsgård, ', 'Meryl Streep, ',
       "Auli'i Cravalho, ", 'Bruce Willis, ', 'Henry Cavill, ',
       'Jack Black, ', 'Ryan Potter, ', 'Matt Damon, ', 'Brad Garrett, ',
       'Paul Rudd, ', 'Jay Baruchel, ', 'Hugh Jackman, ',
       'Jeff Goldblum, ', 'Jim Caviezel, ', 'Suraj Sharma, ',
       'Tye Sheridan, ', 'Mandy Moore, ', 'Tommy Lee Jones, ',
       'Nicolas Cage, ', 'Bradley Cooper, ', 'Shameik Moore, ',
       'Dakota Johnson, ', 'Tom Hiddleston, ', 'Hank Azaria, ',
       'Owen Wilson, ', 'Naomi Watts, ', 'Antonio Banderas, ',
       'Chao Deng, ', 'Dennis Quaid, ', 'Haoran Liu, ', 'James McAvoy, ',
       'Lily James, ', 'Chris Rock, ', 'Brad Pitt, ', 'Kelly Macdonald, ',
       'Dan Castellaneta, ', 'Jason Statham, ', 'John C. Reilly, ',
       'Adam Sandler, ', 'Alec Baldwin, ', 'Fionn Whitehead, ',
       'Aaron Taylor-Johnson, ', 'Ben Burtt, ', 'Arnold Schwarzenegger, ',
       'Halle Bailey, ', 'Patrick Swayze, ', 'Scott Weinger, ',
       'Russell Crowe, ', 'Jesse Eisenberg, ', 'Helen Hunt, ',
       'James Franco, ', 'Andy Serkis, ', 'Megan Fox, ', 'Jim Carrey, ',
       'Colin Firth, ', 'Macaulay Culkin, ', 'Roy Scheider, ',
       'Jessica Chastain, ', 'Ryan Gosling, ', 'Alexander Skarsgård, ',
       'Zach Galifianakis, ', 'Scarlett Johansson, ',
       'Hailee Steinfeld, ', 'Chris Pine, ', 'Richard Gere, ',
       'Gerard Butler, ', 'Natsuki Hanae, ', 'George Clooney, ',
       'Tony Goldwyn, ', 'Brendan Fraser, ', 'Jason Lee, ',
       'Ellen Burstyn, ', 'Robin Williams, ', 'Travis Fimmel, ',
       'Lady Gaga, ', 'Simu Liu, ', 'Pierce Brosnan, ', 'Patton Oswalt, ',
       'François Cluzet, ', 'Jamie Foxx, ', "Paige O'Hara, ",
       'Kevin Costner, ', 'Ben Barnes, ', 'Sarah Jessica Parker, ',
       'Michael Keaton, ', 'Idris Elba, ', 'Taron Egerton, ',
       'Mel Gibson, ', 'James Marsden, ', 'Rosa Salazar, ',
       'Noomi Rapace, ', 'Clark Gable, ', 'Gemma Chan, ',
       'Timothée Chalamet, ', 'Jeff Bridges, ', 'John Travolta, ',
       'Alden Ehrenreich, ', 'Brandon Routh, ', 'Liam Hemsworth, ',
       'Kyle Chandler, ', 'Jim Parsons, ', 'Dean-Charles Chapman, ',
       'Michael J. Fox, ', 'Denis Leary, ', 'Ryunosuke Kamiki, ',
       'Reese Witherspoon, ', 'Dev Patel, ', 'Liam Neeson, ',
       'Jamie Bell, ', 'Tom McGrath, ', 'Nicole Kidman, ',
       'Cameron Diaz, ', 'Nia Vardalos, ', 'Zachary Levi, ',
       'Demián Bichir, ', 'John David Washington, ', 'Hugh Grant, ',
       'Kevin Spacey, ', 'Tony Leung Chiu-wai, ', 'Jackie Chan, ',
       'Daveigh Chase, ', 'Dustin Hoffman, ', 'Colin Farrell, ',
       'Michael Douglas, ', 'Kenneth Branagh, ', 'Jason Sudeikis, ',
       'Anthony Hopkins, ', 'James Corden, ', 'D.B. Sweeney, ',
       'Emily Blunt, ', 'Robert Duvall, ', 'Anthony Ramos, ',
       'Zac Efron, ', "Dylan O'Brien, ", 'Neil Patrick Harris, ',
       'Anna Kendrick, ', 'Justin Long, ', 'John Goodman, ',
       'Amy Adams, ', 'Sullivan Stapleton, ', 'Val Kilmer, ',
       'Jake Gyllenhaal, ', 'Josh Hutcherson, ', 'Sean Connery, ',
       'Renée Zellweger, ', 'Ioan Gruffudd, ', 'Jeffrey Wright, ',
       'Channing Tatum, ', 'Bob Hoskins, ', 'Natalie Portman, ',
       'Paul Hogan, ', 'Morgan Freeman, ', 'Anne Hathaway, ',
       'Demi Moore, ', 'Tom Kenny, ', 'Will Ferrell, ', 'Vera Farmiga, ',
       'Viggo Mortensen, ', 'Patrick Wilson, ', 'Ben Schwartz, ',
       'Noah Ringer, ', 'Eddie Murphy, ', 'Jacob Tremblay, ',
       'Sylvester Stallone, ', 'Zach Braff, ', 'Jack Nicholson, ',
       'Milla Jovovich, ', 'Will Arnett, ', 'Julia Roberts, ',
       'Quinton Aaron, ', 'Shailene Woodley, ', 'Richard Dreyfuss, ',
       'Anthony LaPaglia, ', 'Kristen Wiig, ', 'Ming-Na Wen, ',
       'Christopher Reeve, ', 'Bill Murray, ', 'Eva Green, ',
       'John Cena, ', 'Jerry Seinfeld, ', 'John Boyega, ',
       'Gwyneth Paltrow, ', 'Bill Pullman, ', 'Jason Biggs, ',
       'Taylor Kitsch, ', 'Hugh Bonneville, ', 'Anna Faris, ',
       'Jeremy Renner, ', 'Ty Burrell, ', 'Matthew Lillard, ',
       'Daniel Day-Lewis, ', 'Michael B. Jordan, ', 'Alicia Vikander, ',
       'Bill Hader, ', 'Jodie Foster, ', 'Seth Rogen, ',
       'Clint Eastwood, ', 'Camilla Belle, ', 'Denzel Washington, ',
       'Amanda Seyfried, ', 'Hardie Albright, ', 'Robert Redford, ',
       'Edward Norton, ', 'Song Kang-ho, ', 'Sacha Baron Cohen, ',
       'Michael Jackson, ', 'Linda Hamilton, ', 'Elle Fanning, ',
       'Jamie Lee Curtis, ', 'Drew Barrymore, ', 'Robert Carlyle, ',
       'Ward Horton, ', 'Stephanie Beatriz, ', 'Sigourney Weaver, ',
       "Lupita Nyong'o, ", 'Daniel Kaluuya, ', 'James Cromwell, ',
       'Tim Allen, ', 'Tate Donovan, ', 'Rowan Atkinson, ',
       'Ed Speleers, ', 'Marlon Brando, ', 'Sam Rockwell, ',
       'Heather Donahue, ', 'Kris Wu, ', 'Noah Schnapp, ', 'Eric Bana, ',
       'Jaden Smith, ', 'Eminem, ', 'Joel Kinnaman, ',
       'Michael Fassbender, ', 'Carlos Alazraqui, ', 'Constance Wu, ',
       'Chieko Baishô, ', 'Paul Walker, ', 'Taraji P. Henson, ',
       'Haley Joel Osment, ', 'Melissa McCarthy, ', 'Emma Stone, ',
       'Elliot Page, ', 'Ralph Fiennes, ', 'Whoopi Goldberg, ',
       'Michael Jordan, ', 'Roberto Benigni, ', 'Ben Whishaw, ',
       'Ansel Elgort, ', 'Logan Lerman, ', 'Dane DeHaan, ',
       'Rick Moranis, ', 'Michael Moore, ', 'Ezra Miller, ',
       'Saoirse Ronan, ', 'Orlando Bloom, ', 'T.J. Miller, ',
       'Sosie Bacon, ', 'Luke Evans, ', 'Hilary Swank, ', 'Viola Davis, ',
       'Rod Taylor, ', 'Scott Glenn, ', 'Franka Potente, ',
       'Chow Yun-Fat, ', 'Aaron Eckhart, ', 'Jodi Benson, ',
       'Sharlto Copley, ', 'Roger Moore, ', 'Jason Bateman, ',
       'Emilia Clarke, ', 'Samuel L. Jackson, ', 'Chloe Csengery, ',
       'Kate Winslet, ', 'Phil Harris, ', 'Jennifer Aniston, ',
       'Zhang Wen, ', 'Katherine Heigl, ', 'Margot Robbie, ',
       'Josh Gad, ', 'Cate Blanchett, ', 'Oscar Isaac, ', 'Carrie Coon, ',
       'Clive Owen, ', 'Dan Aykroyd, ', 'Jason Clarke, ', 'Aaron Paul, ',
       'Breckin Meyer, ', 'Judith Hoag, ', "O'Shea Jackson Jr., ",
       'Jonah Hill, ', 'Ashton Kutcher, ', 'Nicholas Hoult, ',
       'Demi Lovato, ', 'Daryl Sabara, ', 'Kurt Russell, ',
       'Ray Winstone, ', 'Rachel McAdams, ', 'Sally Hawkins, ',
       'Mark Rylance, ', 'Stephen Campbell Moore, ', 'Robert De Niro, ',
       'Peter Sallis, ', 'Katie Featherston, ', 'Kotaro Daigo, ',
       'Anjelica Huston, ', 'Steve Martin, ', 'Chloe Bennet, ',
       'Kevin Bacon, ', 'David Duchovny, ', 'Chiwetel Ejiofor, ',
       'Al Pacino, ', 'Sarah Michelle Gellar, ', 'Mayumi Tanaka, ',
       'Nick Zano, ', 'Asa Butterfield, ', 'Jackie Earle Haley, ',
       'Adriana Caselotti, ', 'Russell Brand, ', 'Mila Kunis, ',
       'Andy Samberg, ', 'Kevin James, ', 'Lily Collins, ',
       'Goldie Hawn, ', 'Freddie Prinze Jr., ', 'Charlie Sheen, ',
       'Uma Thurman, ', 'Allison Williams, ', 'Michelle Pfeiffer, '],
      dtype=object)

In [160]:
df["Run_Time(min)"].unique()

array([162, 181, 192, 194, 138, 149, 148, 124, 118, 143, 137, 130, 103,
       141, 134,  92, 152, 128, 102, 129, 136,  91, 147, 201, 123, 154,
       127, 165, 164, 122, 100, 151, 133,  89,  97, 108, 169, 119, 146,
        98,  88, 106, 144, 161, 126, 179,  87, 153,  93, 178, 157, 139,
        94, 140,  95, 112, 115, 150, 121, 145, 105, 132, 142, 158, 163,
       176, 104,  96, 117, 135, 131, 107,  90, 120, 111, 116, 101, 125,
       187,  86, 156, 113,  85, 155, 114, 110, 183, 109,  84, 180, 238,
        81,  82,  83, 166, 195,  99, 159, 189,  69, 175,  79, 170,  78,
        80, 167,  72], dtype=int64)

In [161]:
df

,Title,Release_year,Certificate,Rating,Genre,Metascore,Director,Stars,No_Votes,Gross($),Run_Time(min)
0,Avatar,2009,UA,7.9,Action,83.0,James Cameron,"Sam Worthington,",1358528,2923706026,162
1,Avengers: Endgame,2019,UA,8.4,Action,78.0,"Anthony Russo,","Robert Downey Jr.,",1208382,2799439100,181
2,Avatar: The Way of Water,2022,UA,7.6,Action,67.0,James Cameron,"Sam Worthington,",452123,2320250281,192
3,Titanic,1997,UA,7.9,Drama,75.0,James Cameron,"Leonardo DiCaprio,",1243407,2264743305,194
4,Star Wars: Episode VII - The Force Awakens,2015,U,7.8,Action,80.0,J.J. Abrams,"Daisy Ridley,",954781,2071310218,138
...,...,...,...,...,...,...,...,...,...,...,...
994,Allegiant,2016,13,5.7,Action,33.0,Robert Schwentke,"Shailene Woodley,",129090,179246868,120
995,Daredevil,2003,UA,5.3,Action,42.0,Mark Steven Johnson,"Ben Affleck,",225522,179179718,103
997,He's Just Not That Into You,2009,13,6.4,Comedy,47.0,Ken Kwapis,"Ginnifer Goodwin,",179069,178866158,129
998,Eagle Eye,2008,A,6.6,Action,43.0,D.J. Caruso,"Shia LaBeouf,",192304,178767383,118
999,Along Came Polly,2004,UA,6.0,Comedy,44.0,John Hamburg,"Ben Stiller,",141094,178311729,90